/* BODY SECTION */
body{
    background-color: lightblue;
    font-family: Maiandra GD;
}
/* WEB INTRO CSS */
/* h1{
    color: blue;
    font-size: 20px;
}
#demo{
    color: purple;
    font-size: 35px;
}
p{
    color: red;
    font-size: 30px;
}
.container{
    border-left: 10px solid rgb(36, 24, 128);
    border-right:15px solid rgb(112, 190, 34);
    border-top: 12px solid rgb(45, 100, 168);
    border-bottom: 15px solid rgb(190, 209, 50); 
    border-radius: 2%;
} */